/* 
    Created on : 18-nov-2020, 21:29:58
    Author     : Bluewalk
*/


.botonSend{
    top: 20px !important;
}
.botonSend a,.botonSend input{
    top: 0px !important;

}

.campos{
    margin-top:25px;
}
a {
    position: absolute !important;
    padding-top: 2%;

}
.boton {
    top: 4vw !important;

}
@media only screen and (max-height: 600px) {
    .boton {
        top: 5vw !important;

    }
    .campos{
        margin-top:15x;
    }
}
@media only screen and (max-height: 700px) {
    .boton {
        top: 5vw !important;

    }
    .campos{
        margin-top:15px;
    }
}
@media only screen and (max-height: 800px) {
    .boton {
        top: 5vw !important;

    }
    .campos{
        margin-top:15px;
    }
}

.botonSend a{
    padding-top: 0.1vw !important;
}

.botonEnvio{
    padding: 0px !important;
    height: 34px !important;
}

.git{
    top:0px!important;
}

footer{
    height: 4vw;
}

footer a{
    padding-top: 1%;
}
